<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body style="background-image: url('your-image.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
>    <style>
  .blue-100 { background-color: #c57fc2; } /* Lightest */
  .blue-300 { background-color: #9fa2a5; }
  .blue-500 { background-color: #91acc7; } /* Medium */
  .blue-700 { background-color: #5b60a54f; } /* Darker */
  
</style>

<body class="blue-500 text-white p-3">
  
</body>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">HOME</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses' %}">COURSES</a>
                  </li>
                  
                  
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">USER</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a></li>
                    </ul>
                    </li>
                    
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">SIGNUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">SIGNIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses' %}">COURSES</a>
                    </li>
                    
                  
                    {% endif %}
                      
                    </ul>
                </ul>
                
              </div>
            </div>
          </nav>
          
          <div class="container-fluid mt-3 bg-warning p-3 text-center" >
            <h1 class="custom-font text-danger">NextLearn</h1>
            <p class="fw-semibold">Learn What's Next</p> 
          </div><br><br>
          <div class="container mt-5">
            {% block content %}
            {% endblock %}
        </div>
        
          
          
          
        
        <script src="" async defer></script>
    
    </body>
</html>